:root {
  --gray-100: #e2e8f0;
  --gray-200: #cbd5f5;
  --gray-300: #94a3b8;
  --gray-400: #64748b;
  --gray-500: #475569;
  --gray-600: #334155;
  --gray-700: #1e293b;
  --gray-800: #0f172a;
  --gray-900: #020617;

  
  --primary-light: #38bdf8;
  --primary: #3b82f6;
  --primary-dark: #1d4ed8;

  --link-color: #38bdf8;
  --link-hover: #0ea5e9;

  --success: #3b82f6; /* substituindo verde */
  --warning: #22C55E;;
  --error: #ef4444;
  --info: #00E5FF;

  --text-over-primary: #020617;
  --text-over-primary-dark: #e2e8f0;
  --text-over-primary-light: #020617;

  --text-default: #e2e8f0;
  --text-muted: #94a3b8;

  --disabled: #475569;
  --text-disabled: #94a3b8;
}